#menubar {
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
  padding-bottom: 1rem;
}

a {
  padding: 1rem;
  width: 15rem;;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
  transform: rotate(2deg);
}
